
<h1><%= @hello %></h1>
<h1><%= @jan_total %></h1>
<h1><%= @feb_total %></h1>
<h1><%= @mar_total %></h1>
<h1><%= @apr_total %></h1>
<h1><%= @may_total %></h1>
<h1><%= @jun_total %></h1>
<h1><%= @jul_total %></h1>
<h1><%= @aug_total %></h1>
<h1><%= @sep_total %></h1>
<h1><%= @oct_total %></h1>
<h1><%= @nov_total %></h1>
<h1><%= @dec_total %></h1>
<h1><%= @test1 %></h1>
<h1><%= @test2 %></h1>

		



